<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dudu.aiowner">
    <!-- 【必须】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 【可选】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".AiownerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AiownerBackground">
        <activity
            android:name=".ui.main.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.preventTheft.PreventTheftActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.register.TelephoneNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.register.IdentifyingCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.register.InitPswActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.login.ForgetLoginPswActitivy"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.preventLooting.PreventLootingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.preventLooting.InsuranceCertificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.testSpeed.TestSpeedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.drive.DrivingHabitsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.preventTheft.OwnersCredentialsUploadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.testSpeed.SelectCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.testSpeed.HistoryRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.preventTheft.OwnersCredentialsUploadOkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.preventTheft.OwnersReviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.preventTheft.OwnersReviewOkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.preventTheft.SetGesturePswActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.preventTheft.SetDigitalPswActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.preventTheft.ConfirmGesturePswActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.preventTheft.ConfirmDigitalPswActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.preventTheft.SetPreventTheftPswOkActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.preventTheft.IndentifyingGesturePswActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.preventTheft.IndentifyingDigitalPswActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.preventTheft.UnlockSuccessActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.preventTheft.ForgetPreventTheftPswActitivy"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.maintenanceAssistant.MaintenanceAssistantActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.user.UserInfoActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.drive.DrvingHabitsInfoAcitity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.user.ModifyHeadPortraitAndNicknameActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.preventLooting.PreventLootingControlActivity"
            android:screenOrientation="portrait"></activity>

        <receiver
            android:name="com.dudu.aiowner.receiver.MessagePushReceiver"
            android:exported="false">
            <intent-filter>
                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v2">
            <intent-filter android:priority="0x7fffffff">
                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK" />
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
                <!-- 【必须】 系统广播：开屏和网络切换 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:exported="true">
            <intent-filter>
                <!-- 若使用AndroidStudio，请设置android:name="android.intent.action"-->
                <action android:name="android.intent.action" />
            </intent-filter>
        </activity>

        <!-- 【必须】 信鸽service -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushService"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v2" />

        <!-- 【必须】 通知service，此选项有助于提高抵达率 -->
        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.dudu.aiowner.PUSH_ACTION" />
            </intent-filter>
        </service>

        <!-- 【必须】 请将YOUR_ACCESS_ID修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100181015" />
        <!-- 【必须】 请将YOUR_ACCESS_KEY修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="AJ696H55TCWR" />

    </application>

</manifest>
